{% extends 'base.html.twig' %}

{% block title %}Forum{% endblock %}

{% block body %}
    <h1>Forum</h1>
    <div class="section-forum row my-3">
        <div class="forum-sidebar mt-3 col-lg-2">
            <ul>
                <li class="mb-2"><a href="">Tout les sujets</a></li>
                {% for i in 1..5 %}
                    <li class="mb-2">
                        <a href="">Catégorie {{ i }}</a>
                        <ul>
                            {% for i in 1..3 %}
                                <li><a href="">Sujet {{ i }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="forum-content mt-3 col-lg-10 d-flex flex-column">
            {% for i in 1..10 %}
                <div class="forum-article d-flex p-3">
                    <div class="col-lg-1">
                        <img src="" alt="avatar">
                    </div>
                    <div class="col-lg-8">
                        <p class="title-com">titre du commentaire</p>
                        <div class="infos-com">
                            <p><a class="forum-link" href="">Pseudo</a>, nombre d'heure ou jours</p>
                        </div>
                    </div>
                    <div class="col-lg-2 d-flex flex-column">
                        <a class="forum-link" href="">Catégorie X</a>
                        <a class="forum-link" href="">Sujet X</a>
                    </div>
                    <div class="col-lg-1">
                        <p>Nombre de com</p>
                    </div>
                    <a href="ARTICLE" aria-hidden="true" class="forum-article-link" tabindex="-1"></a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}